@font-face {
    font-family: "Odin-Font";
    src: url("materials/Norse-Bold.otf") format("opentype");
}

/* Styling the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

fieldset {
    border: none;
}

ul {
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 1100px;
}

.image-container {
    flex: 1;
    min-width: 40%;
    background-image: url(materials/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

 .odin-logo-container {
    width: 40%;
    flex: 1;
    position: absolute;
    top: 15em;
    background-color: rgba(0, 0, 0, 0.411);
    opacity: 1;
} 

.odin {
    position: absolute;
    top: .2em;
    left: 48%;
    font-family: "Odin-Font";
    font-size: 6rem;
    display: inline-block;
    color: white;
}
.odin-logo {
    position: relative;
    left: 35%;
    width: 100px;
}

.background-image {
    width: 100%;
    height: 100%;
}

.disclaimer {
    
    font-size: 16px;
}

.second-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 2;
    height: auto;
}

.info-container {
    flex: 1;
    background-color: #f9fafb;
    align-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 5em;
    height: 10px;
}

.disclaimer {
    font-size: 1.6rem;
    width: 34em;
    font-weight: bold;
    padding-top: 0px;
}

.you-want-to {
    font-size: 1.6rem;
    margin-top: 1em;
    font-weight: bold;
}

.form {
    flex: 1;
    box-shadow: 0 -10px 5px -12px rgba(0, 0, 0, 0.3);
}

legend {
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-weight: bold;
    padding-top: 1em;
}

.form-controls {
    /* border-bottom: 1px solid black; */
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.3);
    padding-left: 5em;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    /* margin-left: 3em; */
    padding-bottom: 3em;
}

.input {
    flex: 0 0 calc(50% - 10px);
    flex-basis: 30rem;
}

label {
    display: block;
    letter-spacing: 1.5px;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.7em;
    color: #444546;
}

input {
    appearance: none;
    width: 20em;
    height: 2em;
    border: 1.3px solid rgba(212, 210, 210, 0.836);
    background-color: #fffefe;
    border-radius: 5px;
    font-size: 1.1rem;
    padding-left: .6em;
}

input:focus {
    border: 1.3px solid rgb(0, 126, 243);
    outline: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

}

#password:invalid,
#confirm-password:invalid {
    border: 1.5px solid #f53b3b;
} 

.third-section {
    flex: 1;
    height: auto;
    padding-top: 3em;
    padding-left: 5em;
    background-color: #f9fafb;
}

.btn-submit {
    cursor: pointer;
    background-color: #596d48;
    color: white;
    border: none;
    /* padding-left: 3.5em;
    padding-right: 3.5em;
    padding-top: 1em;
    padding-bottom: 1em; */
    width: 14.3em;
    height: 3.2em;
    font-size: 1.1rem;
    font-weight: 550;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.login-link {
    font-size: 1.2em;
}

.login-link a {
    font-weight: 700;
    text-decoration: none;
    color: #6a7c5b;
}


